/*responsive size*/

/*------------------------------------*\
    RESPONSIVE
\*------------------------------------*/
    /*container bootstrap override*/
    
    @media only screen and (max-width:1440px) {

    
    @media only screen and (max-width:1366px) {
  
    }
    
    @media only screen and (max-width:1280px) {

    }
    @media only screen and (max-width:1199px) { 

    }
    
    @media only screen and (max-width:1024px) {

    }
    
    @media (max-width: 992px) {

    }
    
    @media only screen and (max-width:768px) {
      .data-logo-open-look img {
    width: 20%;
}
            .signin-form {
          margin-right: 15px;
          margin-left: 15px;
      }
     .signin-image {
    margin-right: 15px;
    margin-left: 15px;
}
    } 
    @media screen and (max-width:575px) {}
    
    @media only screen and (max-width:767px) {
      .data-container-select {
    margin-bottom: 25px;
}
      .data-logo-open-look img {
    width: 20%;
}
      .form-title {
          margin-bottom: 10px;
          font-size: 18px;
      }
      .multiple-selections figure {
            margin-top: 0em;
        }

        figure {
            margin-bottom: 0px;
            text-align: center;
        }
        .data-row-space {
    margin-bottom: 25px;
}
.button-submit {
    text-align: center;
    padding-bottom: 15px;
    padding-top: 15px;
}
    }

    
    @media only screen and (max-height:375px) {

    }
    
    @media only screen and (max-width:480px) {
.data-logo-open-look img {
    width: 20%;
}
.signin-form {
    margin-right: 0px;
    margin-left: 0px;
}
.signin-image {
    margin-right: 0px;
    margin-left: 0px;
}
    }
    /*  //recaptcha*/
    
    @media screen and (max-height: 575px) {

    }
    
    @media only screen and (max-width:320px) {

    }
